<nav>
    <ul>
        <li><a href="#" class="nav-link" data-section="text-section">Texto</a></li>
        <li><a href="#" class="nav-link" data-section="videos-section">Videos</a></li>
        <li><a href="#" class="nav-link" data-section="documents-section">Documentos</a></li>
        <li><a href="#" class="nav-link" data-section="audios-section">Audios</a></li>
    </ul>
</nav>