<div id="videos-section" class="content-section" style="display:none;">
    <div class="video-box" id="videoBox">
        <div class="video-container" id="videoContainer">
            <% @case.videos.each_with_index do |video, index| %>
                <div class="video-slide" data-index="<%= index %>">
                    <h2 class="video-title"><%= video.title %></h2>
                    <div class="video-frame">
                        <iframe src="<%= video.url %>" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            <% end %>
        </div>
        <div class="button-container" id="buttonContainer">
            <button id="prevButton" class="carousel-button">Anterior</button>
            <button id="nextButton" class="carousel-button">Siguiente</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const videoSlides = document.querySelectorAll('.video-slide');
        const prevVideoButton = document.getElementById('prevButton');
        const nextVideoButton = document.getElementById('nextButton');
        let currentIndex = 0;

        function showVideo(index) {
            videoSlides.forEach((slide, i) => {
                slide.style.display = i === index ? 'block' : 'none';
            });

            if (index === 0) {
                prevVideoButton.classList.add('hidden');
            } else {
                prevVideoButton.classList.remove('hidden');
            }

            if (index === videoSlides.length - 1) {
                nextVideoButton.classList.add('hidden');
            } else {
                nextVideoButton.classList.remove('hidden');
            }
        }

        prevVideoButton.addEventListener('click', function () {
            if (currentIndex > 0) {
                currentIndex--;
                showVideo(currentIndex);
            }
        });

        nextVideoButton.addEventListener('click', function () {
            if (currentIndex < videoSlides.length - 1) {
                currentIndex++;
                showVideo(currentIndex);
            }
        });

        showVideo(currentIndex);
    });
</script>

<style>
    .video-box {
        background-color: #EEEEEE;
        padding: 20px;
        border-radius: 10px;
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video-title {
        text-align: left;
        margin-bottom: 10px; 
    }

    .video-container {
        flex: 1;
        width: 100%;
        height: 85%;
        display: flex;
        justify-content: flex-start;
        transition: transform 0.5s ease-in-out;
        overflow: auto;
    }

    .video-slide {
        width: 100%;
        height: 90%;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
    }

    .video-frame {
        width: 97%;
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-frame iframe {
        width: 100%;
        height: 100%;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: -20px; 
    }

    .carousel-button {
        background-color: rgba(0, 0, 0, 0.5);
        color: #ffffff;
        border: none;
        padding: 15px;
        cursor: pointer;
        font-size: 2em;
        flex-basis: 200px;
        max-width: 200px;
        visibility: visible;
        opacity: 1;
    }

    .carousel-button.hidden {
        visibility: hidden; 
        opacity: 0; 
    }

    @media (max-width: 768px) {
        .video-box {
            padding: 10px;
        }

        .video-frame {
            height: calc(70vh - 60px);
        }

        .carousel-button {
            padding: 70px;
            font-size: 2em;
        }
    }
</style>
